<!-- Grocery List Component Template -->

<!-- Container for the entire grocery list section -->
<div class="grocery-list-container">
  <!-- Form for creating a new grocery list -->
  <div class="form-container">
    <h3 class="form-title">Create New Grocery List</h3>
    <!-- Angular Reactive Form for creating a new grocery list -->
    <form
      [formGroup]="groceryForm"
      (ngSubmit)="createGroceryList()"
      class="row g-3"
    >
      <div class="col-md-4">
        <!-- Input field for the name of the grocery list (required) -->
        <input
          formControlName="name"
          type="text"
          placeholder="Enter the Name of Grocery List"
          class="form-control"
          required
        />
      </div>
      <div class="col-md-4">
        <!-- Input field for the description of the grocery list (optional) -->
        <input
          formControlName="description"
          type="text"
          placeholder="Enter Description (optional)"
          class="form-control"
        />
      </div>
      <div class="col-md-2">
        <!-- Submit button for creating the grocery list -->
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!groceryForm.get('name')?.valid"
        >
          <!-- Icon for adding a new grocery list -->
          <i class="fa-solid fa-plus"></i>
        </button>
      </div>
    </form>
  </div>

  <!-- Grocery List Card View -->
  <div class="grocery-list">
    <!-- Display each grocery list as a card -->
    <div *ngFor="let list of groceryLists" class="list-card">
      <!-- Card with a link to view the grocery list details -->
      <div
        class="card"
        [ngClass]="{ 'active-card': list.id === selectedList?.id }"
      >
        <div
          class="card-body"
          [routerLink]="['/grocerylist', list.id]"
          (click)="loadGroceryItems(list.id)"
        >
          <!-- Display the name of the grocery list -->
          <h5 class="card-title text-center">{{ list.name }}</h5>
          <!-- Display the creation date of the grocery list -->
          <p class="card-date text-center">
            Created on: {{ list.created_on | date }}
          </p>
          <div class="card-buttons">
            <!-- Button to open the grocery list -->
            <button
              [routerLink]="['/grocerylist', list.id]"
              (click)="loadGroceryItems(list.id)"
              class="btn btn-success"
            >
              <!-- Icon for opening a grocery list -->
              <i class="fa-solid fa-folder-open"></i>
            </button>
            <!-- Button to open the edit modal for the grocery list -->
            <button
              (click)="openModal(list)"
              [routerLink]="['/grocerylist', list.id]"
              data-bs-toggle="modal"
              data-bs-target="#ListModal"
              class="btn btn-primary mx-1"
            >
              <!-- Icon for editing a grocery list -->
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <!-- Button to delete the grocery list -->
            <button
              (click)="deleteGroceryList(list.id)"
              class="btn btn-danger mx-1"
            >
              <!-- Icon for deleting a grocery list -->
              <i class="fa-solid fa-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Selected List Details -->
  <div *ngIf="selectedList" class="selected-list">
    <div class="selected-list-header">
      <!-- Display the name of the selected grocery list -->
      <h2>{{ selectedList.name }}</h2>
      <!-- Display the creation date of the selected grocery list -->
      <p class="created-on-text">
        Created on: {{ selectedList.created_on | date }}
      </p>
    </div>
    <!-- Display the description of the selected grocery list -->
    <p class="description-text">{{ selectedList.description }}</p>
    <div class="grocery-items-container">
      <!-- Display grocery items associated with the selected list -->
      <app-grocery-item [list]="selectedList"></app-grocery-item>
    </div>
  </div>

  <!-- Edit Grocery List Modal -->
  <div
    class="modal fade"
    id="ListModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <!-- Title for the edit modal -->
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            Edit Grocery List
          </h1>
          <!-- Close button for the edit modal -->
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <!-- Angular Reactive Form for editing a grocery list -->
          <form
            [formGroup]="groceryListFormModal"
            (ngSubmit)="editGroceryList()"
          >
            <div class="form-group">
              <!-- Input field for the name of the grocery list (required) -->
              <input
                formControlName="name"
                type="text"
                placeholder="Enter the Name of Grocery List"
                class="form-control"
                required
              />
            </div>
            <div class="form-group">
              <!-- Input field for the description of the grocery list (optional) -->
              <input
                formControlName="description"
                type="text"
                placeholder="Enter Description (optional)"
                class="form-control"
              />
            </div>
            <!-- Save button for updating the grocery list -->
            <button
              type="button"
              class="btn btn-primary"
              data-bs-dismiss="modal"
              (click)="editGroceryList()"
            >
              <!-- Icon for saving the updated grocery list -->
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
