<div class="container">
  <!-- Form -->
  <div class="row">
    <div class="col">
      <h3>Create New Grocery List</h3>
      <form
        [formGroup]="groceryForm"
        (ngSubmit)="createGroceryList()"
        class="mb-4"
      >
        <div class="mb-3">
          <input
            formControlName="name"
            type="text"
            placeholder="Enter the Name of Grocery List"
            class="form-control"
            required
          />
        </div>
        <div class="mb-3">
          <input
            formControlName="description"
            type="text"
            placeholder="Enter Description (optional)"
            class="form-control"
          />
        </div>
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!groceryForm.get('name')?.valid"
        >
          Create
        </button>
      </form>
    </div>
  </div>

  <!-- Grocery List -->

  <div class="row mt-4">
    <div class="col-md-12">
      <div class="card-deck d-flex flex-wrap">
        <ng-container *ngFor="let list of groceryLists; let i = index">
          <div
            class="card mb-2"
            style="margin-right: 10px; text-align: center"
            [ngClass]="{ 'active-card': list.id === selectedList?.id }"
          >
            <div
              class="card-body"
              [routerLink]="['/grocerylist', list.id]"
              (click)="loadGroceryItems(list.id)"
            >
              <h5 class="card-title">{{ list.name }}</h5>
              <div class="btn-group">
                <button
                  [routerLink]="['/grocerylist', list.id]"
                  (click)="loadGroceryItems(list.id)"
                  class="btn btn-success"
                >
                  Open
                </button>
                <button
                  (click)="openModal(list)"
                  [routerLink]="['/grocerylist', list.id]"
                  data-bs-toggle="modal"
                  data-bs-target="#ListModal"
                  class="btn btn-sm btn-primary mx-1"
                >
                  Edit
                </button>
                <button
                  (click)="deleteGroceryList(list.id)"
                  class="btn btn-sm btn-danger mx-1"
                >
                  Delete
                </button>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="container mt-4">
      <div *ngIf="selectedList">
        <h2>{{ selectedList.name }}</h2>
        <p>{{ selectedList.description }}</p>
        <p>Created on: {{ selectedList.created_on | date }}</p>
        <app-grocery-item [list]="selectedList"></app-grocery-item>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="ListModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form
            [formGroup]="groceryListFormModal"
            (ngSubmit)="editGroceryList()"
          >
            <div class="mb-3">
              <input
                formControlName="name"
                type="text"
                placeholder="Enter the Name of Grocery List"
                class="form-control"
                required
              />
            </div>
            <div class="mb-3">
              <input
                formControlName="description"
                type="text"
                placeholder="Enter Description (optional)"
                class="form-control"
              />
            </div>

            <button
              type="button"
              class="btn btn-primary"
              data-bs-dismiss="modal"
              (click)="editGroceryList()"
            >
              Update
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
