<!-- Grocery Item Component Template -->

<!-- Container for the grocery item section -->
<div class="grocery-list-container">
  <div class="create-grocery-item">
    <h3>Create New Grocery Item for {{ list.name }}:</h3>
    <!-- Angular Reactive Form for creating a new grocery item -->
    <form
      [formGroup]="groceryItemForm"
      (ngSubmit)="createGroceryItem()"
      class="row g-3"
    >
      <div class="col-md-4">
        <!-- Input field for the name of the grocery item (required) -->
        <input
          type="text"
          formControlName="name"
          placeholder="Enter the Name of Grocery Item"
          class="form-control"
          required
        />
      </div>
      <div class="col-md-4">
        <!-- Input field for the quantity of the grocery item (required) -->
        <input
          type="number"
          formControlName="quantity"
          placeholder="Enter the quantity (positive)"
          class="form-control"
          required
        />
      </div>
      <div class="col-md-4">
        <!-- Submit button for creating the grocery item -->
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!groceryItemForm.valid"
        >
          <!-- Icon for adding a new grocery item -->
          <i class="fa-solid fa-plus"></i>
        </button>
      </div>
    </form>
  </div>

  <!-- Display grocery items -->
  <div *ngIf="groceryItems.length > 0" class="grocery-items">
    <div class="row g-3">
      <div class="col-md-2"><h3>Grocery Items:</h3></div>

      <!-- Drop Downlon Filter -->
      <div class="col-md-2">
        <select
          [(ngModel)]="selectedOption"
          (ngModelChange)="onDropdownChange($event)"
          class="form-select select-filter"
        >
          <option selected value="all">Show All</option>
          <option value="purchased">Purchased Items</option>
          <option value="notPurchased">Non-Purchased Items</option>
        </select>
      </div>
      <!-- Drop Downlon Sort -->
      <div class="col-md-2">
        <select
          [(ngModel)]="currentSortOption"
          (ngModelChange)="onSortOptionChange($event)"
          class="form-select select-filter"
        >
          <option selected value="default">Default Sorting</option>
          <option value="name">Sort by Name</option>
          <option value="quantity">Sort by Quantity</option>
        </select>
      </div>
      <div class="col-md-2">
        <input
          type="text"
          [(ngModel)]="searchQuery"
          (ngModelChange)="onSearchChange()"
          class="form-control"
          placeholder="Search by name..."
        />
      </div>
    </div>

    <!-- Display each grocery item as a tag -->
    <div class="tag-cloud">
      <span
        *ngFor="let item of filteredGroceryItems"
        class="tag"
        [ngClass]="{
          'purchased-item': item.purchased,
          'hidden-item': shouldHideItem(item)
        }"
      >
        <!-- Checkbox to mark the item as purchased -->
        <label class="checkbox-label">
          <input
            type="checkbox"
            class="form-check-input"
            name="purchasedCheckbox"
            [checked]="item.purchased"
            (change)="markAsPurchased(item)"
          />
          <!-- Display the name and quantity of the item -->
          {{ item.name }} - {{ item.quantity }}
        </label>
        <!-- Button group for edit and delete actions -->
        <div class="btn-group">
          <!-- Button to open the edit modal for the item -->
          <button
            (click)="openModal(item)"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            <!-- Icon for editing a grocery item -->
            <i class="fa-solid fa-pen-to-square" style="color: #3498db"></i>
          </button>
          <!-- Button to delete the item -->
          <button (click)="deleteGroceryItem(item)">
            <!-- Icon for deleting a grocery item -->
            <i class="fa-solid fa-trash" style="color: #3498db"></i>
          </button>
        </div>
      </span>
    </div>
  </div>

  <!-- Edit Grocery Item Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <!-- Title for the edit modal -->
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            Edit Grocery Item
          </h1>
          <!-- Close button for the edit modal -->
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <!-- Angular Reactive Form for editing a grocery item -->
          <form
            [formGroup]="groceryItemFormModal"
            (ngSubmit)="updateGroceryItem()"
          >
            <div class="form-group">
              <!-- Input field for the name of the grocery item (required) -->
              <input
                type="text"
                formControlName="name"
                placeholder="Enter the Name of Grocery Item"
                class="form-control"
                required
              />
            </div>
            <div class="form-group">
              <!-- Input field for the quantity of the grocery item (optional) -->
              <input
                type="text"
                formControlName="quantity"
                placeholder="Enter Quantity (positive)"
                class="form-control"
              />
            </div>
            <div class="form-group form-check">
              <!-- Checkbox for marking the item as purchased -->
              <input
                type="checkbox"
                formControlName="purchased"
                class="form-check-input"
              />
              <label class="form-check-label">Purchased</label>
            </div>
            <!-- Save button for updating the grocery item -->
            <button
              type="submit"
              class="btn btn-primary"
              data-bs-dismiss="modal"
            >
              <!-- Icon for saving the updated grocery item -->
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
